Source: fonts-lemonada
Section: fonts
Priority: optional
Maintainer: Debian Fonts Task Force <debian-fonts@lists.debian.org>
Uploaders: Gürkan Myczko <gurkan@phys.ethz.ch>
Build-Depends: debhelper (>= 11), fontmake
Standards-Version: 4.4.1
Vcs-Git: https://salsa.debian.org/fonts-team/fonts-lemonada.git
Vcs-Browser: https://salsa.debian.org/fonts-team/fonts-lemonada
Homepage: https://github.com/Gue3bara/Lemonada

Package: fonts-lemonada
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: modern Arabic and Latin typeface family
 This is a modern Arabic and Latin typeface family.
